.chatList{
    border: 1px solid #ddd;
    padding: 10px;
    height: 400px;
    width: 70%;
    margin: 40px auto 0 auto;
    background-color: cornsilk;
    overflow: hidden;
}

.chatList > div {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto;
}

.textInput{
    border: 1px solid #ddd;
    padding: 10px;
    width: 70%;
    font-size: 16px;
    margin-top: 50px;
}

.chatItem{
    font-size: 18px;
    color: black;
    border-radius: 8px;
    background: rgb(114, 235, 114);
    padding: 12px 18px;
    border: 0.5px solid black;
    box-shadow: 0 2px 1px black;
    max-width: 70%;
    display: inline-block;
    text-align: left;
    margin-bottom: 6px;
    margin-right: auto;
}

.chatItem.right{
    margin-right: 0;
    margin-left: auto;
    background-color: blue;
    color: white;
}